<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/home-admin.css">
    <link rel="stylesheet" href="/css/editProduct.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"
        defer>
    </script>

    <title>Admin</title>
</head>

<body>
    <main>
        <div class="page">
            
            <aside class="d-flex flex-column flex-shrink-0 p-3 min-vh-100 left ">
                <a href="/home" target="_blank"  class="logo-box">
                    <span class="fs-4"><img src="/img/logo-urbano-tshirt-trasparent.png" alt="" class="logo"></span>
                </a>
                <hr>
              
                <div class="dropdown">
                    <a href="" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <!-- <img src="https://www.kindpng.com/picc/m/24-248253_user-profile-default-image-png-clipart-png-download.png" alt="" width="32" height="32" class="rounded-circle me-2"> -->
                        <% if(locals.userLogged && userLogged){ %>
							<!-- <img src="<%= userLogged.profilePicture %>" alt="" width="32" height="32" class="rounded-circle me-2"> -->
							<strong class="user-name"><%= userLogged.name %></strong>
						<% } else{ %>
							<img src="https://www.kindpng.com/picc/m/24-248253_user-profile-default-image-png-clipart-png-download.png" alt="" width="32" height="32" class="rounded-circle me-2">
							<strong class="user-name">Nome do usuário</strong>
						<% } %>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item" href="#">Cadastrar Admin</a></li>
                        <li><a class="dropdown-item" href="#">Configurações</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Sair</a></li>
                    </ul>
                </div>
              
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="">
                        <a href="/admin/home" class="nav-link" aria-current="page">
                            <svg class="bi pe-none me-2" width="16" height="16">
                                <use xlink:href="#home"></use>
                            </svg>
                            Produtos
                        </a>
                    </li>
              
                    <li class="nav-item">
                        <a href="/admin/produtos/cadastro" class="nav-link" aria-current="page">
                            <svg class="bi pe-none me-2" width="16" height="16">
                                <use xlink:href="#home"></use>
                            </svg>
                            Cadastrar Produto
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="/admin/produtos/editar" class="nav-link active" aria-current="page">
                            <svg class="bi pe-none me-2" width="16" height="16">
                                <use xlink:href="#home"></use>
                            </svg>
                            Editar Produto
                        </a>
                    </li>
              
                    <li class="nav-item">
						<a href="/admin/pedidos" class="nav-link" aria-current="page">
							<svg class="bi pe-none me-2" width="16" height="16">
								<use xlink:href="#home"></use>
							</svg>
							Pedidos
						</a>
					</li>
                   
              
                </ul>
              </aside>
    
            <section class="content">
               <h1 class="title">Editar</h1>

               <form action="/admin/produtos/editar?_method=PUT" method="POST" enctype="multipart/form-data">
                   
                <div class="elements-container">

                    <div class="hugging-left-elements">
                        <div class="wrapper-inputs">
                            <label for="name">Nome</label>
                            <input type="text" name="name" id="name">
                        </div>
        
                        <div class="wrapper-inputs">
                          <label for="model">Modelo</label>
                          <select name="model" id="model">
                           <option value="feminino">Feminino</option>
                           <option value="masculino">Masculino</option>  
                          </select>
                        </div>
        
                        <div class="wrapper-inputs">
                            <label for="color">Cores</label>
                            <select name="color" id="color">
        
                             <option value="vermelho">Vermelho</option>
                             <option value="preto">Preto</option> 
                             <option value="branco">Branco</option>
                             <option value="amarelo">Amarelo</option> 
                             <option value="verde">Verde</option>
                             <option value="cinza">Cinza</option> 
                             <option value="azul">Azul</option>
                             
                            </select>
                          </div>
        
                          <div class="wrapper-inputs">
                            <label for="size">Tamanho</label>
                            <select name="size" id="size">
                                
                             <option value="P">P</option>
                             <option value="M">M</option> 
                             <option value="G">G</option>
                          
                             
                            </select>
                          </div>
        
                          <div class="wrapper-inputs">
                              <label for="quantity">Quantidade</label>
                              <input type="number" name="quantity" id="quantity">
                          </div>
    
    
    
                    </div>
    
                    <div class="hugging-right-elements">
    
                        <div class="wrapper-inputs">
                            <label for="image">Imagem</label>
                            <input type="file" name="image" id="image">
                        </div>
                        
                        <div class="wrapper-inputs">
                            <label for="tshirtPrint">Estampa</label>
                            <input type="file" name="tshirtPrint" id="tshirtPrint">
                        </div>
    
                        <!-- <div class="wrapper-inputs">
                            <label for="discount">Desconto</label>
                            <input type="number" name="discount" id="discount" min="0" max="100" step=".01">
                        </div>
     -->
                        <div class="wrapper-inputs">
                            <label for="price">Preço</label>
                            <input type="number" name="price" id="price">
                        </div>
    
    
                        <div class="wrapper-inputs">
                            <label for="category">Categoria</label>
                            <select name="category" id="category">
                                
                             <option value="filme">Filmes</option>
                             <option value="anime">Animes</option> 
                            
                            </select>
                          </div>
    
                    </div>

                </div>
            
                <button type="submit" class="btn-send">Enviar</button>

               </form>      
            </section>
        </div>
    </main>
</body>

</html>