<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../assets/css/checkout-page.css">
  <link rel="stylesheet" href="../../assets/css/style.css">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,0" />

  <title>Urbano t-shirts</title>

  <script src="../../assets/js/OpenCheckoutPageForm.js" defer></script>
</head>
<body id="body-div">



  <header>

  
    <div class="container" data-container>

      <div class="menu-mobile-icons-container">

        <div class="menu-burguer-box">
          <img src="../../assets/img/menu-burguer.svg" alt="menu icon">
        </div>

        <nav class="user-icons-mobile">
          <ul>
            <li><a href=""><img src="../../assets/img/carrinho.svg" alt=""></a></li>
            <li><a href=""><img id="login-img" src="../../assets/img/login.svg" alt=""></a></li>
          </ul>
        </nav>

      </div>


      

      <div class="logo-box" data-logo-box>
        <a href="layout-default.html"><img id="logo" data-logo src="../../assets/img/urbano6.png" alt=""></a>
      </div>
      
      <form action="" id="form-id" data-form-id>
        <input type="text" placeholder="O que você procura?">
      </form>
      
      <nav class="user-icons-nav">
        <ul>
          <li><a href=""><img src="../../assets/img/carrinho.svg" alt=""></a></li>
          <li><a href=""><img id="login-img" src="../../assets/img/login.svg" alt=""></a></li>
        </ul>
      </nav>
      
    </div>

    

    <nav class="bar-nav" data-bar-nav>
      <ul>
        <li><a href="#">Masculino</a></li>
        <li><a href="#">Feminino</a></li>
        <li><a href="#">Filmes</a></li>
        <li><a href="#">Animes</a></li>
      </ul>
    </nav>

  </header>

  <main>

    <div class="main-container">
      
      <form action="">

        <div class="top-part">
             
          <div class="titles-bar">
            
  
            <div class="products-title-box">
              <p class="products-title">Produtos</p>
            </div>
           
  
            <div class="wrapper-titles">
  
              <div class="quantity-title-box">
                <p class="quantity-title">Quantidade</p>
              </div>
             
  
              <div class="price-title-box">
                <p class="price-title">Preço</p>
              </div>
              
            </div>
          </div>
  
          <div class="products-info-box">
            <div class="product-info">
  
              <div class="product-name">
                <h4>Nome da Camiseta</h4>
              </div>
  
              <div class="product-color-box">
                <span class="title-color">Produto na cor:</span>
                <div class="color-attribute"></div>
              </div>
  
              <div class="product-size-box">
                <span class="title-size">Tamanho:
                  <strong class="size-Attribute">M</strong>
                </span>
              </div>
  
            </div>
  
            <div class="wrapper-quantity-price-info">
              <div class="quantity-info-box">
                <p>1</p>
              </div>
                
              <div class="price-info-box">
                <p>R$ 79,90</p>
              </div>
            </div>
  
          </div>
  
          <div class="subtotal-info-box">
  
            <div class="nothing-box"></div>
  
            <div class="wrapper-subtotal-info">
              <div class="infos-part">
                <div class="title-subtotal">Subtotal:</div>
                <span class="subtotal">R$ 79,90</span>
              </div>
              <div class="space-part"></div>
              
            </div>
  
          </div>
  
          <div class="wrapper-freight-box">
  
            <div class="nothing-box"></div>
  
            <div class="wrapper-freight-info">
  
              <div class="infos-part">
                <span class="title-freight">Frete:</span>
                <span class="freight">(defina abaixo)</span>
              </div>
              <div class="space-part"></div>
              
            </div>
  
          </div>
  
          <div class="wrapper-total-box">
  
            <div class="nothing-box"></div>
  
            <div class="wrapper-total-info">
  
              <div class="infos-part">
                <span class="title-total">Total:</span>
                <span class="total">R$ 79,90</span>
              </div>
              <div class="space-part"></div>
  
              
            </div>
  
          </div>
  
        </div>
  
        <div class="bottom-part">
  
          <div class="personal-data-part-box">
  
            <div class="up-part-box">
  
              <div class="title-box">
  
                <img class="personal-data-image" src="../../assets/img/personal-data-icon.svg" alt="">
                <p>Dados Cadastrais</p>
  
              </div>
  
              <div class="user-infos-box">
  
                <div class="name-box">
  
                  <strong class="name">Nome:</strong>
                  <span>Nome do cliente</span>
  
                </div>
  
                <div class="email-box">
  
                  <strong class="name">Email:</strong>
                  <span>cliente@mail.com</span>
  
                </div>
  
                <div class="cel-box">
  
                  <strong class="name">Celular:</strong>
                  <span>(21)99999-9999</span>
  
                </div>
  
                <div class="registration-type--box">
  
                  <strong class="name">Tipo de Cadastro:</strong>
                  <span>Pessoa Física</span>
  
                </div>
  
                <div class="individual-registration-number-box">
  
                  <strong class="name">CPF:</strong>
                  <span>111.111.111-11</span>
  
                </div>
  
              </div>
  
            </div>
  
            <div class="low-part-box">
  
              <div class="title-box">
                <img class="address-image" src="../../assets/img/address-icon.svg" alt="">
                <p>Endereço Cadastrado</p>
              </div>

              <div class="user-infos-box address-mfo-box">
  
                <div class="name-box addres-name-box">
  
                  <strong class="name address-name">Nome do Endereço:</strong>
                  <span>Casa</span>
  
                </div>
  
                <div class="email-box zip-code-box">
  
                  <strong class="name zip-code">Cep:</strong>
                  <span>33333333</span>
  
                </div>
  
                <div class="cel-box public-place-box">
  
                  <strong class="name public-place">Logradouro:</strong>
                  <span>Rua</span>
  
                </div>
  
                <div class="registration-type--box number-box">
  
                  <strong class="name number">Número:</strong>
                  <span>555</span>
  
                </div>
  
                <div class="individual-registration-number-box complement-box">
  
                  <strong class="name complement-box">Complemento:</strong>
                  <span>casa </span>
  
                </div>

                <div class="individual-registration-number-box district-box">
  
                  <strong class="name district">Bairro:</strong>
                  <span>centro</span>
  
                </div>

                <div class="individual-registration-number-box city-box">
  
                  <strong class="name city">Cidade:</strong>
                  <span>São Paulo</span>
  
                </div>

                <div class="individual-registration-number-box state-box">
  
                  <strong class="name state">Estado:</strong>
                  <span>SP</span>
  
                </div>
  
              </div>
  
            </div>
           
          </div>
  
          <div class="delivery-part-box">
  
            <div class="title-box">
              <img class="delivery-image" src="../../assets/img/delivery-icon.svg" alt="">
              <p>Entrega</p>
            </div>
  
            <div class="radio-buttons-box">
  
              <div class="wrapper-radio-buttons">
                <div class="input-radio-button-box">
                  <input type="radio" name="delivery_radio_button" id="address_radio_button">
                </div>

                <div class="delivery-infos">
                  <span class="delivery-price">R$20,00</span>
                  <span class="delivery-days">12dias</span>
                  <span class="delivery-type">PAC</span>
                </div>
                

              </div>

              <div class="wrapper-radio-buttons">
                <div class="input-radio-button-box">
                  <input type="radio" name="delivery_radio_button" id="address_radio_button">
                </div>

                <div class="delivery-infos">
                  <span class="delivery-price">R$20,00</span>
                  <span class="delivery-days">12dias</span>
                  <span class="delivery-type">PAC</span>
                </div>

              </div>
              


             
            </div>

          </div>
  
          <div class="payment-part-box">
  
            <div class="title-box">
              <img src="../../assets/img/payment-icon.svg" alt="">
              <p>Pagamento</p>
            </div>
            <div class="radio-buttons-box">
  
              <div class="wrapper-radio-buttons credit_card_payment">
                <div class="input-radio-button-box">
                  <input type="radio" name="payment_radio_button" id="credit_card_payment" value="creditCard">
                </div>

                <div class="payment-cards">
                  <img src="../../assets/img/card-visa-icon.svg" alt="">
                  <img src="../../assets/img/card-elo-icon.svg" alt="">
                  <img src="../../assets/img/card-master-icon.svg" alt="">
                </div>

                <span class="expand-payment-form">...</span>
              </div>

              <!-- Fomulário do Cartão-->
              <div class="wrapper-payment-form payment_form" id="payment_form_id">

                <!--Credit card image -->
                <div class="credit-card-image-container">
                  <div class="credit-cart-estructure">
                    <div class="credit-card-chip-icon-estructure">
                      <div class="credit-card-chip-icon-estructure-inside-part">
  
                      </div>
                    </div>
  
                    <div class="credit-card-logo-box">
                      <img src="" alt="">
                    </div>
    
                    <div class="credit-card-numbers-box">
                      <p>XXXX XXXX XXXX XXXX</p>
                    </div>
    
                    <div class="credit-card-bottom-box">
                      <div class="credit-card-holder-name-box">
                        Nome Completo
                      </div>
      
                      <div class="credit-card-date-box">
                        <div class="date-inform">
                          mm/aa
                        </div>
    
                        <div class="date-box">

                          <div class="front-date-part">
                            XX
                          </div>
                          <div class="center-date-part">
                            /
                          </div>
                          <div class="back-date-part">
                            XX
                          </div>

                        </div>

                      </div>
                    </div>
                    
  
                  </div>
                </div>
                <!--Final Credit card image -->
                <div class="wrapper-right-left-parts">

                  <div class="wrapper-input-and-label number_card-class-input">
                    <label for="number_card">Número do Cartão</label>
                    <input type="text" name="number_card" id="number_card" class="number_card-class" placeholder="xxx xxx xxxx xxx">
                  </div>

                  <div class="wrapper-input-and-label card_expiring_date-class-input">
                    <label for="card_expiring_date">Validade</label>
                    <input type="text" name="card_expiring_date" id="card_expiring_date" class="card_expiring_date-class" placeholder="xx/xx">
                  </div>
                </div>

                <div class="wrapper-input-and-label card_holder_name-input-class">
                  <label for="card_holder_name">Nome do Titular</label>
                  <input type="text" name="card_holder_name" id="card_holder_name">
                </div>

                <div class="wrapper-right-left-parts">

                  <div class="wrapper-input-and-label security_code-class-input">
                    <label for="security_code">Cód. de Segurança</label>
                    <input type="text" name="security_code" id="security_code" placeholder="CCV">
                  </div>

                  <div class="wrapper-input-and-label installments-class-input">
                    <label for="installments">Parcelas</label>
                    <select name="installments" id="installments">
                      <option value="1">1x</option>
                      <option value="2">2x</option>
                      <option value="3">3x</option>
                      <option value="4">4x</option>
                      <option value="5">5x</option>
                      <option value="6">6x</option>
                      <option value="7">7x</option>
                      <option value="8">8x</option>
                      <option value="9">9x</option>
                      <option value="10">10x</option>
                      <option value="11">11x</option>
                      <option value="12">12x</option>
                    </select>
                  </div>
                </div>

                <div class="payment-value-box">
                  <div class="value-title">Valor:&nbsp;</div>
                  <div class="value"> R$79,90</div>
                </div>
              </div>

              <div class="wrapper-radio-buttons ticket_payment ticket_payment-class">
                <div class="input-radio-button-box">
                  <input type="radio" name="payment_radio_button" id="ticket_payment" value="ticket">
                </div>
                <div class="payment-ticket">
                  <img src="../../assets/img/boleto-icon.svg" alt="">
                </div>

              </div>
              <div class="show-value-payment">
                <div class="payment-value-box">
                  <div class="value-title">Valor:&nbsp;</div>
                  <div class="value"> R$79,90</div>
                </div>
              </div>
              
              <div class="change-payment-form-box">
                <div class="edit-button">
                  <img src="../../assets/img/edit-icon-png-3587.png" alt="">
                  <div>Alterar a forma de pagamento</div>
                </div>
              </div>

              

              
             
            </div>

            <div class="btn-box">
              <button class="btn-checkout">Finalizar compra</button>
            </div>
            
          </div>
        </div>
     
      </form>
     

    </div>
     
  </main>

  <footer>
    
    <div class="container-footer">
      
      <div class="pages-menu-box">
        <h3>Menu de páginas</h3>
        <ul>
          <li><a href="">Fale conosco</a></li>
          <li><a href="">Sobre a loja</a></li>
        </ul>
      </div>

      <div class="social-networks-box">
        <h3>Redes Sociais</h3>
        <a href="#"><img src="../../assets/img/instagram-icon.svg" alt="instagram icon"></a>
        <a href="#"><img src="../../assets/img/facebook-icon.svg" alt="facebook icon"></a>
        <a href="#"><img src="../../assets/img/twitter-icon.svg" alt="twitter icon"></a>
        <a href="#"><img src="../../assets/img/whatsapp-icon.svg" alt="whatsapp icon"></a>  
      </div>

      <div class="payment-box">
        <h3>Formas de Pagamento</h3>
        <a href="#"><img src="../../assets/img/visa-credit-card.svg" alt="" ></a>
        <a href="#"><img src="../../assets/img/boleto-icon.svg" alt=""></a>
        <a href="#"><img src="../../assets/img/elo-card-icon.svg" alt=""></a>
        <a href="#"><img src="../../assets/img/master-card-icon.svg" alt=""></a>
      </div>

      <div class="security-seal-box">
        <h3>Site Seguro</h3>
        <a href="#"><img src="../../assets/img/safe-browsing-icon.svg" alt=""></a>
      </div>

      
    </div>

    <h4>
      URBANO T-SHIRTS COMERCIO DE VESTUARIO E ILUSTRACOES LTDA. - CNPJ: 33.444.555/0001-00 © Todos os direitos reservados. 2022
    </h4>

  </footer>

  <div class="whatsapp-button">
    <a href="https://api.whatsapp.com/send?phone=5511888888888" target="_blank"><img src="../../assets/img/whatsapp-icon-circle.png" alt="whatsapp icon"></a>
  </div>

  <script src="assets/js/header-behavior.js"></script>
</body>
</html>