<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/requests.css">

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,0" />


    <title>Urbano t-shirts</title>

    <link rel="stylesheet" href="/css/header.css">
    <script src="/js/showSubmenuHeaderMobile.js" defer></script>
</head>

<body id="body-div">



    <header>

  
        <div class="container" data-container>
    
          <div class="menu-mobile-icons-container">
    
            <div class="menu-burguer-box">
              <img src="../public/img/menu-burguer.svg" alt="menu icon">
            </div>
    
            <nav class="user-icons-mobile">
              <ul>
                <li><a href=""><img src="../public/img/carrinho.svg" alt=""></a></li>
                <li><a href=""><img id="login-img" src="../public/img/login.svg" alt=""></a></li>
              </ul>
            </nav>
    
          </div>
    
    
          
    
          <div class="logo-box" data-logo-box>
            <a href="layout-default.html"><img id="logo" data-logo src="../public/img/urbano6.png" alt=""></a>
          </div>
          
          <form action="" id="form-id" data-form-id>
            <input type="text" placeholder="O que você procura?">
          </form>
          
          <nav class="user-icons-nav">
            <ul>
              <li><a href=""><img src="../public/img/carrinho.svg" alt=""></a></li>
              <li><a href=""><img id="login-img" src="../public/img/login.svg" alt=""></a></li>
            </ul>
          </nav>
          
        </div>
    
        
    
        <nav class="bar-nav" data-bar-nav>
          <ul>
            <li><a href="#">Masculino</a></li>
            <li><a href="#">Feminino</a></li>
            <li><a href="#">Filmes</a></li>
            <li><a href="#">Animes</a></li>
          </ul>
        </nav>
    
    </header>

    <main>

        <div class="main-container">

            <section class="register-button-section">

                <a href="" class="register-button">
                    <img src="./assets/img/personal-data.svg" alt="">
                    <p>Dados Pessoais</p>
                </a>

                <a href="" class="register-button">
                    <img src="./assets/img/address.svg" alt="">
                    <p>Endereço</p>
                </a>

                <a href="" class="register-button">
                    <img src="./assets/img/request.svg" alt="">
                    <p>Pedidos</p>
                </a>

                <a href="" class="register-button">
                    <img src="./assets/img/power-off.svg" alt="">
                    <p>Sair</p>
                </a>

            </section>


            <section class="form-section">

                <div class="box">
                    <div class="info-request">
                        <div class="description">
                            <span>Número do Pedido:</span>
                            <span>número</span>
                        </div>
                        <div class="description">
                            <span>Data do pedido:</span>
                            <span>data</span>
                        </div> 

                    </div>
                </div>

            </section>

        </div>

    </main>

    <footer>
    
        <div class="container-footer">
          
          <div class="pages-menu-box">
            <h3>Menu de páginas</h3>
            <ul>
              <li><a href="">Fale conosco</a></li>
              <li><a href="">Sobre a loja</a></li>
            </ul>
          </div>
    
          <div class="social-networks-box">
            <h3>Redes Sociais</h3>
            <a href="#"><img src="../public/img/instagram-icon.svg" alt="instagram icon"></a>
            <a href="#"><img src="../public/img/facebook-icon.svg" alt="facebook icon"></a>
            <a href="#"><img src="../public/img/twitter-icon.svg" alt="twitter icon"></a>
            <a href="#"><img src="../public/img/whatsapp-icon.svg" alt="whatsapp icon"></a>  
          </div>
    
          <div class="payment-box">
            <h3>Formas de Pagamento</h3>
            <a href="#"><img src="../public/img/visa-credit-card.svg" alt="" ></a>
            <a href="#"><img src="../public/img/boleto-icon.svg" alt=""></a>
            <a href="#"><img src="../public/img/elo-card-icon.svg" alt=""></a>
            <a href="#"><img src="../public/img/master-card-icon.svg" alt=""></a>
          </div>
    
          <div class="security-seal-box">
            <h3>Site Seguro</h3>
            <a href="#"><img src="../public/img/safe-browsing-icon.svg" alt=""></a>
          </div>
    
          
        </div>
    
        <h4>
          URBANO T-SHIRTS COMERCIO DE VESTUARIO E ILUSTRACOES LTDA. - CNPJ: 33.444.555/0001-00 © Todos os direitos reservados. 2022
        </h4>
    
    </footer>
    
      <div class="whatsapp-button">
        <a href="https://api.whatsapp.com/send?phone=5511888888888" target="_blank"><img src="../public/img/whatsapp-icon-circle.png" alt="whatsapp icon"></a>
      </div>

    <script src="assets/js/header-behavior.js"></script>
</body>

</html>