@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=PT+Sans:wght@400;700&display=swap');


:root{
  font-size: 10px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'PT Sans', sans-serif;
}


.container{
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 0 10rem;
 
  height: 13.2rem;
}


/*----- main  index.html-----*/


.glider img{
  width: 100%;
  margin-top: 21rem;
}


main .featureds h2{
  font-size: 2.6rem;
  line-height: 3.364rem;
  margin-bottom: 1.6rem;
}

main .featureds hr{
  color: #e2dfdf;
  border-bottom: 1px solid #e2dfdf;
}
main .featureds .featured-products-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8rem;

  margin: 2.4rem 0 5.6rem 0;
}

main .featureds .featured-products-container a{
  text-decoration: none;
}

main .featureds .featured-products-container .product-card{
  width: 21rem;
  height: 32.4rem;

  display: flex;
  flex-direction: column; 
}


main .featureds .featured-products-container .product-card img{
  width: 100%;
  /* height: 100%; */
  height: 25.7rem;
}

main .featureds .featured-products-container .product-card .product-description{
  background-color: #5B4583;
  color: #FFF;
  height: 6.7rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: 'Inter', sans-serif;

  border: none;
  
}

main .featureds .featured-products-container .product-card .product-description h5{
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.936rem;
  text-align: center;
}


main .featureds .featured-products-container .product-card .product-description p{
  font-size: 1.3rem;
  line-height: 1.936rem;
  font-weight: 400;
}





main .featureds .featured-products-container a:nth-child(1) img:hover{
  transition: all .5s;
  content: url("https://cdn.awsli.com.br/300x300/0/622/produto/177488305/f847a1231d.jpg");
}

main .featureds .featured-products-container a:nth-child(2) img:hover{
  content: url("https://cdn.awsli.com.br/300x300/0/622/produto/150374988/1d0b44a7f5.jpg");
}

main .featureds .featured-products-container a:nth-child(3) img:hover{
  content: url("https://cdn.awsli.com.br/300x300/0/622/produto/137893301/1bebbd0e94.jpg");
}

main .featureds .featured-products-container a:nth-child(4) img:hover{
  content: url("https://cdn.awsli.com.br/300x300/0/622/produto/90833059/0833282de2.jpg");
}

main .featureds .featured-products-container a:nth-child(5) img:hover{
  content: url("https://cdn.awsli.com.br/300x300/0/622/produto/126377724/e0957e4e0b.jpg");
}
main .featureds .featured-products-container a:nth-child(6) img:hover{
  content: url("https://cdn.awsli.com.br/300x300/0/622/produto/134975275/42f0761b76.jpg");
}

main .featureds .featured-products-container a:nth-child(7) img:hover{
  content: url("https://cdn.awsli.com.br/300x300/0/622/produto/113621817/fac0040839.jpg");
}

main .featureds .featured-products-container a:nth-child(8) img:hover{
  content: url("https://cdn.awsli.com.br/300x300/0/622/produto/72457418/8accc4302d.jpg");
}

main .featureds .featured-products-container a:nth-child(9) img:hover{
  content: url("https://cdn.awsli.com.br/300x300/0/622/produto/92118689/8461498fe8.jpg");
}

main .featureds .featured-products-container a:nth-child(10) img:hover{
  content: url("https://cdn.awsli.com.br/300x300/0/622/produto/93082459/457a279bd0.jpg");
}

main .featureds .featured-products-container a:nth-child(11) img:hover{
  content: url(" https://cdn.awsli.com.br/300x300/0/622/produto/143489861/343b01128f.jpg");
}

main .featureds .featured-products-container a:nth-child(12) img:hover{
  content: url("https://cdn.awsli.com.br/300x300/0/622/produto/134996091/a8cbaed1cd.jpg");
}

main .featureds .featured-products-container a:nth-child(13) img:hover{
  content: url("https://cdn.awsli.com.br/300x300/0/622/produto/143654695/7b1a79cc74.jpg");
}


main .featureds .featured-products-container a:nth-child(14) img:hover{ 
  content: url("https://cdn.awsli.com.br/300x300/0/622/produto/89204494/a75fbcb5ac.jpg");
}

main .featureds .featured-products-container a:nth-child(15) img:hover{
  content: url("https://cdn.awsli.com.br/300x300/0/622/produto/133001035/4deb9085a6.jpg");
}

main .featureds .featured-products-container a:nth-child(16) img:hover{
  content: url("https://cdn.awsli.com.br/300x300/0/622/produto/140168950/36e8c134a3.jpg");
}
main .featureds .featured-products-container a:nth-child(17) img:hover{
  content: url("https://cdn.awsli.com.br/300x300/0/622/produto/175326571/5a2ca99333.jpg");
}

main .featureds .featured-products-container a:nth-child(18) img:hover{
  content: url("https://cdn.awsli.com.br/300x300/0/622/produto/140776234/c1e47cf9bd.jpg");
}
main .featureds .featured-products-container a:nth-child(19) img:hover{
  content: url("https://cdn.awsli.com.br/300x300/0/622/produto/134018933/1ef6ecfe3e.jpg");
}

main .featureds .featured-products-container a:nth-child(20) img:hover{
  content: url("https://cdn.awsli.com.br/300x300/0/622/produto/135510747/a8f65ea447.jpg");
}
main .featureds .featured-products-container a:nth-child(21) img:hover{
  content: url("https://cdn.awsli.com.br/300x300/0/622/produto/91933273/74ba4c53a8.jpg");
}

main .featureds .featured-products-container a:nth-child(22) img:hover{
  content: url("https://cdn.awsli.com.br/300x300/0/622/produto/91729481/5edb85a8bb.jpg");
}
main .featureds .featured-products-container a:nth-child(23) img:hover{
  content: url("https://cdn.awsli.com.br/300x300/0/622/produto/109242661/3269f15a99.jpg");
}
main .featureds .featured-products-container a:nth-child(24) img:hover{
  content: url("https://cdn.awsli.com.br/300x300/0/622/produto/123531265/b9ada3d29c.jpg");
}
main .featureds .featured-products-container a:nth-child(25) img:hover{
  content: url("https://cdn.awsli.com.br/300x300/0/622/produto/178846273/5f687ec771.jpg");
}
main .featureds .featured-products-container a:nth-child(26) img:hover{
  content: url("https://cdn.awsli.com.br/300x300/0/622/produto/179053197/2f57ff9ea7.jpg");
}
main .featureds .featured-products-container a:nth-child(27) img:hover{
  content: url("https://cdn.awsli.com.br/300x300/0/622/produto/171900717/798f7684f9.jpg");
}
main .featureds .featured-products-container a:nth-child(28) img:hover{
  content: url("https://cdn.awsli.com.br/300x300/0/622/produto/179052615/218f26f651.jpg");
}
main .featureds .featured-products-container a:nth-child(29) img:hover{
  content: url("https://cdn.awsli.com.br/300x300/0/622/produto/163994363/d70ec1677d.jpg");
}
main .featureds .featured-products-container a:nth-child(30) img:hover{
  content: url("https://cdn.awsli.com.br/300x300/0/622/produto/140644289/712f34e48f.jpg");
}
main .featureds .featured-products-container a:nth-child(31) img:hover{
  content: url("https://cdn.awsli.com.br/300x300/0/622/produto/135068365/f876a315a2.jpg");
}
main .featureds .featured-products-container a:nth-child(32) img:hover{
  content: url("https://cdn.awsli.com.br/300x300/0/622/produto/140168896/2c1fb090fc.jpg");
}


