@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=PT+Sans:wght@400;700&display=swap');


:root{
  font-size: 10px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'PT Sans', sans-serif;
}


.container{
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 0 10rem;
 
  height: 13.2rem;
}


.main-container{
  margin-top: 23rem;


  display: flex;
  flex-direction: column;
}

main .main-container h2{
  font-size: 2.6rem;
  line-height: 3.364rem;
  margin-bottom: 1.6rem;
}

main .main-container hr{
  color: #e2dfdf;
  border-bottom: 1px solid #e2dfdf;
}

.top-part{
  display: flex;
}

.products-listing-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8rem;

  margin: 2.4rem 0 5.6rem 0;
}


main .products-listing-container a{
  text-decoration: none;
}

main .products-listing-container .product-card{
  width: 21rem;
  height: 32.4rem;

  display: flex;
  flex-direction: column; 
}


main .products-listing-container .product-card img{
  width: 100%;
  /* height: 100%; */
  height: 25.7rem;
}

main .products-listing-container .product-card .product-description{
  background-color: #5B4583;
  color: #FFF;
  height: 6.7rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: 'Inter', sans-serif;

  border: none;
  
}

main .products-listing-container .product-card .product-description h5{
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.936rem;
  text-align: center;
}

main .products-listing-container .product-card .product-description p{
  font-size: 1.3rem;
  line-height: 1.936rem;
  font-weight: 400;
}


.top-part{
  display: flex;
  justify-content: center;
}

.sections-container{
  display: flex;
  justify-content: space-between;
}
