@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');


:root{
  font-size: 10px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'PT Sans', sans-serif;
}


.container{
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  /* height: 17vh; */

  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 0 10rem;
  /* gap: 2rem; */

  
  /* position: fixed; */

  height: 13.2rem;
}

header{
  background-color: #372948;

  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;

  width: 100%;
  z-index: 1;

}



header .logo-box img{
  width: 15.2rem;
  height: 10.2rem;
  margin-right: 2rem;
}


/*Definindo o quanto de espaço do
header que o formulário vai usar*/
header form{
  width: 50%;
}


header input{
  width: 100%;
  min-width: 50px;
  height: 4rem;

  border-radius: 2rem;
  border: none;

  padding-left:1.6rem;

  font-size: 1.6rem;

  background-image: url("../img/lupa.svg");
  background-size: 2.2rem;
  background-repeat: no-repeat;
  background-position: 98.7%; 
  /* background-position: right 5px bottom 8px; */

}


header input:focus{
  outline: none;
}

header .user-icons-nav ul,.user-icons-nav li{
  display: inline-block;
}

header .user-icons-nav img{
  width: 3.2rem;
  margin-left: 4rem;
}




/*Menu Mobile - none*/
header .menu-mobile-icons-container{
  display: none;
}




/*Barra de Navegação*/
header .bar-nav{
  background-color: #F6E4E4;
  height: 5.1rem;
  line-height:5.1rem;
}

header .bar-nav ul{
  display: flex;
  justify-content: center;
  gap: 10rem;
  
}

header .bar-nav ul li{
  list-style: none;
}

header .bar-nav ul li a{
  color: #251B37;

  text-decoration: none;

  font-size: 2.2rem;

}


/*----- conteúdo provisório da main -somente para teste -----*/
main{
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  
}
/*--------------------------------------------*/












/*-------rodapé--------*/
.container-footer{
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  /* height: 17vh; */

  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 0 10rem;
  

  height: 13.2rem;
}
footer{
  height: 26rem;

  background-color: #372948;

  color: #FFFFFF;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 4rem;
}


footer .container-footer h3{
  font-size: 2.2rem;
  font-weight: 700;

  margin-bottom: 2.1rem;
}

footer .pages-menu-box{
  
  height: 9.3rem;
}

footer .pages-menu-box ul li{ 
  font-size: 1.7rem;
  margin-left: 2.8rem;
}

footer .pages-menu-box ul li a{
  text-decoration: none;
  color: #FFF;
}

footer .social-networks-box{
  height: 9.3rem;
  text-align: center;
}

footer .social-networks-box a img{
  width: 3.5rem;
}


footer .payment-box{
  height: 9.3rem;
  text-align: center;
}

footer .security-seal-box{
  height: 9.3rem;
  text-align: center;
}

footer .security-seal-box img{
  width: 9rem;
  border-radius: .2rem;
}

footer h4{
  font-size: 1.2rem;

  margin-top: 5rem;
}

.whatsapp-button{

  display: inline-block;
  
  background-color: #FFF;

  border-radius: 50%;

  width: 6rem;
  height: 6rem;

  position: fixed;

  right: 2.8rem;
  bottom: 3.8rem;

  
}


.whatsapp-button a{
  width: 6rem;
  height: 6rem;
}


.whatsapp-button img{
  width: 6rem;
  height: 6rem;
}


/*------Medias Queries------*/

@media (max-width:991px){

  .container{
    width: 100%;
    display: flex;
    flex-direction: column;

    padding: 0 2rem;
  }


  header{
    display: flex;
    flex-direction: column;
    height: 23.8rem; 
  }

  header .menu-mobile-icons-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  header .menu-mobile-icons-container ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  header .logo-box img{
    width: 16.2rem;
    height: 11.2rem;
    margin-right: 0; 
  }

  header .user-icons-mobile ul li:nth-child(2){
    margin-left: 2rem;
  }

  header .user-icons-mobile ul li::marker{
    color: #372948;
  }

  header form{
    width: 84%;
  }

  header input{
    height: 4.2rem;
    margin-bottom: 1.8rem;
  }

  header .bar-nav{
    display: none;
  }

  header .user-icons-nav ul{
    display: none;
  }

  

  .container-footer{
    padding: 0 2rem;
  }


  footer .container-footer h3{
    font-size: 2rem;
    font-weight: 700;
  
    margin-bottom: 2rem;
  }

  footer h4{
    font-size: 1rem;
  
    margin-top: 4rem;
  }

  
}

@media (max-width:767px){
  footer{
    height: 46.7rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }

  .container-footer{
   width: 100%;
   height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start; 
  }


  footer .container-footer h3{
    margin-bottom: 1rem;
  }

  footer h4{
    /* padding-top: 10rem; */
    margin-bottom: 2.4rem;
    margin-top: 0;
  }
}


@media (max-width:592px){
  footer h4{
    font-size: 1.1rem;
    text-align: center;
    padding: 0 3rem;
  }
}



@media (max-width:270px){

  header{
    min-width: 159px;
  }
  header input::placeholder{
    color: transparent;
  }

  footer{
    width: 100%;
    min-width: 159px;
    height: 66rem;
  }
  footer .social-networks-box h3{
    text-align: start;
  }

  footer .social-networks-box a img{
    width: 2.5rem;
  }

  footer .container-footer  h3{
    font-size: 1.6rem;
  }

  footer .payment-box a img{
    width: 3.6rem;
  }

  footer .pages-menu-box{
  
    height: 14rem;
  }

  footer .social-networks-box{
    height: 14rem;
    text-align:start;
  }

  footer .payment-box{
    height: 12rem;
    text-align: left;
  }

  header .user-icons-mobile ul li:nth-child(2){
    margin-left: 1rem;
  }
}