@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=PT+Sans:wght@400;700&display=swap');


:root{
  font-size: 10px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'PT Sans', sans-serif;
}


.main-container{
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  position: relative;


  margin-bottom: 1.4rem;
  padding: 2rem 10rem;
  
 
}

.register-button-section {
    background-color: #4C3863;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    max-width: 23rem;
    height: inherit; /* valores do pai */
    padding: 5rem 0;
    gap: 3rem; /* espaço entre os filhos */
    margin-top: 20.3rem;

}

.register-button-section a {
  text-decoration: none;
  align-items: center;

}

.register-button {
  max-width: 20rem;
  width: 80%;
  height: 4.8rem;
  
  display: flex;
  flex-direction: row;
  justify-content: center;

  background-color: white;
  gap: 5px;
  border-radius: .9rem;
  transition: background-color 450ms;
}

.register-button p{
    font-size: 2rem;
    font-weight: 700;
    color: black;
}

.register-button:hover {
  background-color: #F6E4E4;
}


form div input {
  transition: background-color 450ms;

}

form div input:hover{
  background-color: #F6E4E4;
}

.form-section {
    width: 70%;
    margin-top: 20.3rem;
    
}

form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}


.input-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1px;
}

.assistant-form-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 5px;
}

.hugging-form {
    width: 80%;
    display: flex;
    gap: 25px;
    flex-direction: column;
  
}

form button {



  background-color: #584374;
  color: #D9D9D9;

  border: none;

  width: 10rem;
  height: 4rem;

  font-size: 1.8rem;
  font-weight: 500;

  cursor: pointer;

  transition: .4s;

  margin-top: auto; /* PQ O TOP COLOCOU PARA BAIXO? */

  border-radius: .2rem;
}


.form-section form button:hover{

  background-color: #372948;  
}

form div label {
  font-size: 2rem;
  font-weight: 500;
}

form div input {
  background-color: #D9D9D9;
  border: none;
  height: 3rem;

  padding-left: .5rem;
}