@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: 'Inter', sans-serif;
  font-size: 10px;
}
body{
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
}
.page {
    display: flex;
    width: 100%;
}

a {
    text-decoration: none;
    color: white!important;;
}

aside.left {
    width: 20%;
    background-color: #372948;
    color: white;
}

.content {
    margin: 0 auto;
    width: 100%;
    font-family: 'Inter', sans-serif;
}

aside.left a.active {
    background-color: white!important;
    color: #372948!important;
    font-weight: bold;
}

.logo-box{
  text-align: center;
}

.logo{
  width: 50%;
}

.product-title{
  margin-left: 10%;
}

.product-table{
  width: 100%;
}
.table-image{
  text-align: center;
}



.btn-primary {
    background-color: #372948!important;
    color: white;
    border: none!important;
    
}

.button-register{
  width: 80%;
  margin: 0 auto;
}

.btn-primary:hover {
    background-color: #8D72E1!important;
    border: none!important;
}

.buttons-table-box{
  display: flex;
  flex-direction: column;

  align-items: center;
}

.open-btn,.edit-btn,.delete-btn-form{
  margin: .6rem 0;
}

.open-btn{
  background-color: #FFF!important;
  color: #372948!important;
  font-weight: 500!important;
  border: none!important;

  width: 100%;
}

.edit-btn{
  background-color: #3C2C57!important;
  color: #FFF!important;
  font-weight: 500!important;
  border: none!important;

  width: 100%;
}

.delete-btn-form{
  width: 100%;
}

.delete-btn{
  font-weight: 500!important;
  border: none!important;

  width: 100%;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.form_product {
    border: 2px solid #6C4AB6;
    border-radius: 8px;
    padding: 25px;
}

.form_product h1 {
    color: #6C4AB6;
    font-weight: bold;
}

.form_product label {
    font-weight: bold;
}

.form_product input[type="checkbox"]:checked {
    background-color: #6C4AB6;
}