@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=PT+Sans:wght@400;700&display=swap');


:root{
    font-size: 10px;
    font-family: 'PT Sans', sans-serif;
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  header{
    width: 100%;
    margin: 0 auto;
    background-color: #372948;
    height: 13.2rem;
    padding: 0 17.1rem;
    display: flex;
    align-items: center;
    position: fixed;
  }

  .header-container{
    width: 100%;
    max-width: 1280px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-container li{
    list-style: none;
  }


  header .logo-box img{
    width: 15.2rem;
    height: 10.2rem;
    margin-right: 2rem;
  }

  header .header-container form{
    width: 53.5%;
  }

  header .header-container form input{
    width: 100%;
    min-width: 50px;
    height: 4rem;

    border-radius: 2rem;
    border: none;

    padding-left:1.6rem;

    font-size: 1.6rem;

    background-image: url("../img/lupa.svg");
    background-size: 2.2rem;
    background-repeat: no-repeat;
    background-position: 98.7%; 
  }

  .user-header-icons{
    display: flex; 
  }

  .user-header-icons img{
    width: 3.2rem;
    margin-left: 4.3rem;
  }


  /*NAV BAR*/

  .nav-bar{
    padding-top: 13.2rem;
  }

  .nav-bar ul{
    background-color: #F6E4E4;
    height: 5.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
  }

  .nav-bar ul li{
    list-style: none;
  }

  .nav-bar ul li a{
    color: #251B37;
    text-decoration: none;
    font-size: 2.2rem;
  }


  /*HEADER MOBILE*/
  .header-mobile{
    width: 100%;
    display: none;
  }

  .header-mobile-top-part{
    width: 100%;
    position: fixed;

    padding: 1rem 10rem;

    background-color: #372948;
  }

  .header-mobile-top-part ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-mobile-top-part ul li{
    list-style: none;
  }

  
  .user-header-mobile-icons-box{
    display: flex;
    gap: 3rem;
  }


  .header-mobile-bottom-part{
    width: 100%;
    padding-top: 6rem;
    background-color: #372948;

    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .logo-header-mobile-box{

  }

  .logo-header-mobile-box a{

  }

  .logo-header-mobile-box a img{
    width: 16.2rem;
    height: 11.2rem;
    margin-right: 0;
  }

  .header-mobile-bottom-part form{
    width: 70%;

    margin-bottom: 3rem;
  }

  .header-mobile-bottom-part form input{
    width: 100%;
    min-width: 50px;
    height: 4rem;

    border-radius: 2rem;
    border: none;

    padding-left:1.6rem;

    font-size: 1.6rem;

    background-image: url("../img/lupa.svg");
    background-size: 2.2rem;
    background-repeat: no-repeat;
    background-position: 98.7%; 
  }


  main{
    height: 80rem;
  }


  @media (max-width:980px){
    header{
        display: none;
    }

    .nav-bar{
        display: none;
    }

    .header-mobile{
        display: block;
    }
  }