@import url('./global-admin.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');


html{
  font-family: 'Inter', sans-serif;
}

.user-name{
  font-size: 1.6rem;
  font-weight: 400;
}


