.main-container{
  max-width: 1280px;
  width: 100%;

  margin: 5rem auto 3rem auto;
  padding: 0 5rem;


  display: flex;
  flex-direction: column;
}

.top-part{
  display: flex;
  align-items: center;
  gap: 2rem;
 

  margin-bottom: 1.6rem;
}

.top-part h4,.top-part p{
  font-size: 2.4rem;
  font-weight: 400;

}

.styling-elements{
  background-color: #372948;
  color: #FFF;
  
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1.4rem;
  height: 4.8rem;
  /* border-radius: .2rem; */
}

.middle-part{
  display: flex;
  flex-direction: column;



  font-size: 1.6rem;
  font-weight: 400;
 
 
}

.middle-part .titles-bar{
  display: flex;
  align-items: center;
  height: 4.5rem;
  
}



.middle-part .titles-bar .product{
  width: 30%;
  padding-left: 2rem;
 
}

.middle-part .titles-bar .another-titles-box{
  display: flex;
  justify-content: space-around;

  width: 70%;
}

.price,.the-amount,.subtotal,.delete{
  width: 25%;
  display: flex;
  justify-content: center;
}

.middle-part .cart-content{
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2rem 1rem;
}


.product-content{
  display: flex;
  width: 25%;
}

.product-content img{
  width: 8rem;
  padding: 1rem .5rem;
  margin-left: 1.5rem;
}

.infos-product-box{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;

  text-align: left;

  padding: 1rem .5rem;
}

.infos-product-box a{
  text-decoration: none;
  color: #000;
}
.infos-product-box a h3{
  font-size: 1.8rem;
}

.infos-product-box p{
  font-size: 1.4rem;
}


.another-infos{
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 70%;
  
}

.another-infos img{
  width: 9%;

  cursor: pointer;
}

.another-infos p,.the-amount-itens,.image-box{
  width: 23%;

  display: flex;
  justify-content: center;
}

.the-amount-itens .left-item, .the-amount-itens .right-item{
  

  display: flex;
  align-items: center;

  cursor: pointer;
}

.another-infos p{
  font-size: 1.8rem;
}

.the-amount-itens .center-item{
  display: flex;
  align-items: center;
}


.bottom-part{
  margin-top: 3.3rem;
  display: flex;
  justify-content: space-between;

 

  font-size: 1.6rem;
}

.bottom-part .left-part, .bottom-part .right-part{
  width: 20%;
  display: flex;
  justify-content: center;
}
.bottom-part .left-part{
  display: flex;
}

.styling-bottom-elements{
  background-color: #372948;
  color: #FFF;
  padding: 1rem;

  transition: .6s all;

  border-radius: .2rem;
}

.styling-button{
  background-color: #553f70;
  color: #FFF;
  padding: 1rem;

  transition: .6s all;

  border-radius: .2rem;
}

.styling-button:hover{
  background-color: #372948;
  cursor: pointer;
}