:root{
  font-size: 10px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'PT Sans', sans-serif;
}
.main-container{
  width: 100%;
  max-width: 1280px;
  margin: 2rem auto;
 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  position: relative;


  margin: 3.7rem auto 1.4rem auto;
  padding: 2rem 10rem; 
}

.register-button-section {
    background-color: #4C3863;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    max-width: 23rem;
    height: inherit; /* valores do pai */
    padding: 5rem 0;
    gap: 3rem; /* espaço entre os filhos */
 
}

.register-button-section a {
  text-decoration: none;
  align-items: center;
}

.register-button {
  max-width: 20rem;
  width: 80%;
  height: 4.8rem;
  
  display: flex;
  flex-direction: row;
  justify-content: center;

  background-color: white;
  gap: 5px;
  border-radius: .5rem;
  transition: background-color 450ms;
}

.register-button p{
    font-size: 2rem;
    font-weight: 700;
    color: black;
}

.register-button:hover {
  background-color: #F6E4E4;
}


/*Botão de sair*/
.quit-button-form{
  width: 80%;
  height: 4.8rem;
}

.quit-button{
  width: 100%;

  max-width: 20rem;

  height: 100%;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: white;
  gap: 5px;
  border-radius: .5rem;
  transition: background-color 450ms;
  border: none;
}

.quit-button P{
  font-size: 2rem;
  font-weight: 700;
  color: black;
}

.quit-button:hover {
  background-color: #F6E4E4;
  cursor: pointer;
}