<footer>
    
  <div class="container-footer">
    
    <div class="pages-menu-box">
      <h3>Menu de páginas</h3>
      <ul>
        <li><a href="">Fale conosco</a></li>
        <li><a href="">Sobre a loja</a></li>
      </ul>
    </div>

    <div class="social-networks-box">
      <h3>Redes Sociais</h3>
      <a href="#"><img src="/img/instagram-icon.svg" alt="instagram icon"></a>
      <a href="#"><img src="/img/facebook-icon.svg" alt="facebook icon"></a>
      <a href="#"><img src="/img/twitter-icon.svg" alt="twitter icon"></a>
      <a href="#"><img src="/img/whatsapp-icon.svg" alt="whatsapp icon"></a>  
    </div>

    <div class="payment-box">
      <h3>Formas de Pagamento</h3>
      <a href="#"><img src="/img/visa-credit-card.svg" alt="" ></a>
      <a href="#"><img src="/img/boleto-icon.svg" alt=""></a>
      <a href="#"><img src="/img/elo-card-icon.svg" alt=""></a>
      <a href="#"><img src="/img/master-card-icon.svg" alt=""></a>
    </div>

    <div class="security-seal-box">
      <h3>Site Seguro</h3>
      <a href="#"><img src="/img/safe-browsing-icon.svg" alt=""></a>
    </div>

    
  </div>

  <h4>
    URBANO T-SHIRTS COMERCIO DE VESTUARIO E ILUSTRACOES LTDA. - CNPJ: 33.444.555/0001-00 © Todos os direitos reservados. 2022
  </h4>

  
</footer>