

<!-- 
  <div class="menu-mobile">

    <div class="menu-burguer-box">
      <img src="./assets/img/menu-burguer.svg" alt="menu icon">
    </div>

    <nav class="user-icons-mobile">
      <ul>
        <li><a href=""><img src="./assets/img/carrinho.svg" alt=""></a></li>
        <li><a href="login.html"><img id="login-img" src="./assets/img/login.svg" alt=""></a></li>
      </ul>
    </nav>

  </div> -->

  
  <header>

  
    <div class="container" data-container>

      <div class="menu-mobile-icons-container">

        <div class="menu-burguer-box">
          <img src="/img/menu-burguer.svg" alt="menu icon">
        </div>

        <nav class="user-icons-mobile">
          <ul>
            <li><a href="/carrinho"><img src="/img/carrinho.svg" alt=""></a></li>
            <li><a href="/login"><img id="login-img" src="/img/login.svg" alt=""></a></li>
          </ul>
        </nav>

      </div>


      

      <div class="logo-box" data-logo-box>
        <a href="/home"><img id="logo" data-logo src="/img/logo-urbano-tshirt-trasparent.png" alt=""></a>
      </div>
      
      <form action="" id="form-id" data-form-id>
        <input type="text" placeholder="O que você procura?">
      </form>
      
      <nav class="user-icons-nav">
        <ul>
          <li><a href="/carrinho"><img src="/img/carrinho.svg" alt=""></a></li>
          
          <% if(locals.userLogged && userLogged){ %>
            <li><a href="/usuario/area-cliente/<%= userLogged.id %>/dados-pessoais"><img id="login-img" src="/img/login.svg" alt=""></a></li>
            <li style="color: #FFF;">
              <p>Olá,</p>
              <div class="hugging" style="display:flex; align-items: flex-end;">
                <p style="width: 200%;"><%= userLogged.name %></p>
                <form action="/usuario/logout" method="POST">
                  <button type="submit" style="font-size: 1rem;margin-left: 6px;cursor: pointer;">Sair</button>
                </form>
              </div>
              
            </li>
          <% } else{ %>
            <li><a href="/login"><img id="login-img" src="/img/login.svg" alt=""></a></li>
          <% } %>
        </ul>
        
      </nav>
      
    </div>

    

    <nav class="bar-nav" data-bar-nav>
      <ul>
        <li><a href="/listagem-produtos">Masculino</a></li>
        <li><a href="/listagem-produtos">Feminino</a></li>
        <li><a href="/listagem-produtos">Filmes</a></li>
        <li><a href="/listagem-produtos">Animes</a></li>
      </ul>
    </nav>

  </header>