<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../../public/css/header.css">
</head>
<body>
    <div class="header-mobile">

    </div>

    <header>
        <ul class="header-container">
            <div class="logo-box">
                <li><a href="/"><img src="../../public/img/logo-urbano-tshirt-trasparent.png" alt=""></a></li>               
            </div>
            <form action="">
                <input type="text" placeholder="O que você procura?">
            </form>

            <div class="user-header-icons">
                <li><a href=""><img src="../../public/img/carrinho.svg" alt=""></a></li>
                <li><a href=""><img src="../../public/img/login.svg" alt=""></a></li>
            </div>
        </ul>
    </header>
    <nav class="nav-bar">
        <ul>
            <li><a href="/listagem-produtos">Masculino</a></li>
            <li><a href="/listagem-produtos">Feminino</a></li>
            <li><a href="/listagem-produtos">Filmes</a></li>
            <li><a href="/listagem-produtos">Animes</a></li>
        </ul>
    </nav>
    <main></main>
</body>
</html>