<section class="register-button-section">

          

  <a href="" class="register-button">
    <img src="/img/puppet-icon.svg" alt="">
    <p>Dados pessoais</p>
  </a>

  <a href="" class="register-button">
    <img src="/img/house-icon.svg" alt="">
    <p>Endereços</p>
  </a>

  <a href="" class="register-button">
    <img src="/img/bullet-list-icon.svg" alt="">
    <p>Pedidos</p>
  </a>

  <a href="" class="register-button">
    <img src="/img/power-off-icon.svg" alt="">
    <p>Sair</p>
  </a>

</section>